## customize

## RESERVED ##
*.sw?
.#*
*#
*~
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.class
*.log
*.tmp
*.swp
Thumbs.db
.DS_Store

.sts4-cache
.classpath
.project
.metadata
.settings
.springBeans
.gradle
bin
build
target
.idea/
*.iml
*.ipr
*.iws
*.sublime-*
